resources/nnUNet_preprocessed
resources/nnUNet_raw
resources/nnUNet_results
resources/nnUNET/build
resources/nnUNET/documentation
resources/nnUNET/nnunetv2.egg-info
resources/nnUNET/LICENSE
resources/nnUNET
test/
*.gz
*.pyc
